<div class="inner-info-card" *ngIf="remediation">
  <div class="inner-info-card-header">
    <div class="inner-info-card-title">{{ remediation.title }}</div>
  </div>
  <div class="inner-info-card-content" (click)="toggleDetails()">
    <div *ngFor="let item of remediation.items; trackBy: trackByIndex" class="server-details-box">
      <div class="server-icon-section">
        <div class="icon-container">
          <div class="icon-background" [style.background-color]="item.iconBgColor || 'var(--blue-100)'">
            <img class="server-icon-image" [src]="item.iconPath" [alt]="item.primaryLabel + ' icon'" />
          </div>
        </div>
        <div class="server-text-info">
          <div class="server-name">{{ item.primaryLabel }}</div>
          <div class="server-status">{{ item.secondaryLabel }}</div>
        </div>
      </div>
      <div class="vertical-divider"
           [style.background-image]="item.dividerImagePath ? 'url(' + item.dividerImagePath + ')' : null"
           [style.background-repeat]="item.dividerImagePath ? 'no-repeat' : null"
           [style.background-position]="item.dividerImagePath ? 'center' : null"
           [style.background-color]="item.dividerImagePath ? 'transparent' : 'var(--gray-soft200)'">
      </div>
      <div class="server-description-text">
        {{ item.description }}
      </div>
    </div>
    <div class="additional-info-text" *ngIf="detailsVisible">
      {{ remediation.additionalDetails }}
    </div>
  </div>
</div>