<div class="dashboard-layout">
  <div class="page-content-wrapper">
    <div class="main-structure">
      <app-sidebar
        class="sidebar"
        [class.desktop-collapsed]="isDesktopAndCollapsed$ | async"
        [class.mobile-visible]="isMobileAndVisible$ | async"
        id="sidebar"
      ></app-sidebar>

      <img
        class="sidebar-collapser-button"
        [src]="sidebarCollapserImagePath"
        alt="Toggle sidebar"
        (click)="toggleSidebar()"
        [style.left]="collapserButtonLeftPx$ | async"
        [class.rotated]="collapserButtonRotated$ | async"
        role="button"
        tabindex="0"
        [attr.aria-expanded]="!(collapserButtonRotated$ | async)"
        aria-controls="sidebar"
      />

      <app-content-panel></app-content-panel>
    </div>
  </div>
</div>